input, textarea, select {
    background-color: #b2b2b2;
    outline: 0;
    border-radius: 6px;
    padding-left: 10px;
    box-shadow: none;
    text-decoration: none;
    border: none;
}

::placeholder {
    color: black;
}


.redactor {
    display: none;
	overflow-y: auto;
	white-space: nowrap;
    height: 94vh;

	margin: 10px;
    background-color: rgba(255, 255, 255, 0.02);
    box-shadow: black inset 1px 1px 15px;
    padding: 20px;
}

.row {
	display: flex;
	flex-direction: row;
    margin-bottom: 10px;
}

.row div {
    flex: 0 0 1;
    
    display: flex;
    flex-direction: column;
    
    width: auto;
}

.row label {
    font-size: 17px;
}

#div-item-image {
    display: block;

    font-size: large;
}

#item-image {
    width: 32px;
    height: 32px;
    margin-right: 7px;
}

#id {
    width: 5vw;
    height: 4vh;
}

#item-type {
    padding: 3px;
    width: 14vw;
    height: 4vh;
}

#ground-item-model {
    width: 12vw;
    height: 4vh;
}   

#item-name {
    width: 30vw;
    height: 4vh;
}

#div-item-description {
    width: 100%;
}

.small-input-container input {
    width: 8vw;
}

#items-actions-text {
    flex: 0 0 98%;
    height: 7vh;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 15px;

    text-align: center;
    font-size: large;
    border-radius: 5px 5px 0 0;

    border: 1px solid black;
    background-color: rgba(255, 255 ,255, 0.08);
}

#items-actions-container {
    margin-left: 10px;
    flex: 0 0 98%;
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    border: 1px solid black;
    border-top: none;

    padding: 10px;

    border-radius: 0 0 5px 5px;
}

#items-actions-container div {
    display: inline-block;
}

.round {
    position: relative;
    max-width: 20px;
    margin-right: 10px;
}
  
.round label {
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 14px;
    width: 14px;
    left: 0;
    position: absolute;
    top: 4px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #222f2e;
}


#items-races-text {
    flex: 0 0 98%;
    height: 6vh;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 15px;

    text-align: center;
    font-size: large;
    border-radius: 5px 5px 0 0;

    border: 1px solid black;
    background-color: rgba(255, 255 ,255, 0.08);
}

#races-container {
    margin-left: 10px;
    flex: 0 0 98%;
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    border: 1px solid black;
    border-top: none;

    padding: 10px;
    padding-bottom: 15px;
    border-radius: 0 0 5px 5px;
}

.race .race-checkbox, .race .race-checkbox div {
    display: inline-block;
}

.race-model {
    margin-top: 15px;
}

.items-classes-text {
    flex: 0 0 98%;
    height: 6vh;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 15px;

    text-align: center;
    font-size: large;
    border-radius: 5px 5px 0 0;

    border: 1px solid black;
    background-color: rgba(255, 255 ,255, 0.08);
}

#items-classes-container {
    margin-left: 10px;
    flex: 0 0 98%;
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    border: 1px solid black;
    border-top: none;

    padding: 10px;

    border-radius: 0 0 5px 5px;
}

/* .classes-row {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    margin-bottom: 10px;
} */

#items-classes-container .class-row {
    flex-direction: row;
    justify-content: safe left;
}

#items-classes-container .class-row div {
    display: inline-block;
    margin-left: 1vw;
    width: 10vw;
}

#items-stats-text { 
    flex: 0 0 98%;
    height: 6vh;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 15px;

    text-align: center;
    font-size: large;
    border-radius: 5px 5px 0 0;

    border: 1px solid black;
    background-color: rgba(255, 255 ,255, 0.08);   
}

#items-stats-container {
    margin-left: 10px;
    flex: 0 0 98%;
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    border: 1px solid black;
    border-top: none;

    padding: 10px;

    border-radius: 0 0 5px 5px;
}

#items-stats-container .stat-row {
    flex-direction: row;   
    justify-content: space-around;
    margin-bottom: 2vh;
}

#items-stats-container .stat div {
    display: flex;
    flex-direction: row;
}

#items-stats-container .stat .stat-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat input {
    width:  7.5vw;
    margin-left: 0.5vw;
}

.stat input:first-of-type {
    margin-left: 0;
}

.stat input::placeholder {
    opacity: 0.6;
}

#div-hold {
    display: inline-block;
    margin-left: 1.5vw;
}

#div-hold div {
    display: inline-block;
}

#cancle-item-action {
    display: none;
    justify-content: center;

    height: 7vh;
    width: 16vw;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 14px;
    padding: 8px;
    line-height: 32px;


    color: #fff;
    position: absolute;
    left: 50vw;
	bottom: 10px;
}

#cancle-item-action div {
    margin-left: 6px;
    color: #fff;
    text-decoration: underline;
}